# Data science Tools and Ecosystem

### In this notebook Data science tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow
6. ggplot


| Data Science Tools |
|---|
| Hadoop |
| Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
mi = 200
hrs = mi//60
rmi = 200%60
print("Converted to ",hrs," hours",rmi," mins")

Converted to  3  hours 20  mins

## Author
Madhav